<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tokaily</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha256-GHW2S7IZAQe8+YkyL99LyDj1zdWXSPOG+JZafCtKiSc= sha512-vxM32w6T7zJ83xOQ6FT4CEFnlasqmkcB0+ojgbI0N6ZtSxYvHmT7sX2icN07TqEqr5wdKwoLkmB8sAsGAjCJHg=="
          crossorigin="anonymous">
    <%= raw render_existing view_module(@conn), "stylesheets." <> view_template(@conn), assigns %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-inverse">
      <!-- Brand -->
      <a href="<%= page_path(@conn, :index) %>" class="navbar-brand">Tokaily</a>
      <!-- Links -->

      <ul class="nav navbar-nav">
        <%= if logged_in?(@conn) do %>
        <li class="nav-item">
          <span class="nav-link">
            <%= current_user(@conn).email %>
          </span>
        </li>
        <li class="nav-item">
          <%= link "ログアウト", to: session_path(@conn, :delete), method: :delete, form: [class: "nav-link"] %>
        </li>
        <% else %>
        <li class="nav-item">
          <a href="<%= registration_path(@conn, :new) %>" class="nav-link">ユーザー登録</a>
        </li>
        <li class="nav-item">
          <a href="<%= session_path(@conn, :new) %>" class="nav-link">ログイン</a>
        </li>
        <% end %>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <%= if info = get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= info %></p>
        <% end %>
        <%= if error = get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= error %></p>
        <% end %>
        <%= @inner %>

      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"
            integrity="sha256-+h0g0j7qusP72OZaLPCSZ5wjZLnoUUicoxbvrl14WxM= sha512-0z9zJIjxQaDVzlysxlaqkZ8L9jh8jZ2d54F3Dn36Y0a8C6eI/RFOME/tLCFJ42hfOxdclfa29lPSNCmX5ekxnw=="
            crossorigin="anonymous"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= raw render_existing view_module(@conn), "scripts." <> view_template(@conn), assigns %>
  </body>
</html>
